footer ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  footer ul li a {
    color: rgba(0, 0, 0, 0.603);
  }
  footer ul li a:hover {
    text-decoration: underline !important;
  }
  footer p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.603);
  }
  footer {
    padding: 0 50px;
  }
  @media(max-width: 700px) {
    footer {
      padding: 0;
    }
  }